<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <arg name="device_id" default="XXXXX"/>
  <arg name="device_type"       default="d4.5"/>    <!-- Note: using regular expression. match D435, D435i, D415... -->
  <arg name="camera_name"       value="base_rgbd_camera"/>
  <arg name="tf_prefix_camera"  default="$(arg camera_name)"/>
  <arg name="initial_reset"     default="true"/>
  <arg name="align_depth"       default="false"/>
  <arg name="filters"           default="disparity,spatial,temporal,decimation"/>
  <arg name="pointcloud_frame_skip" default="1" />

  <arg name="calibration_file_path" value="$(eval optenv('pmb3_rgbd_sensors_calibration_path', find('pmb3_rgbd_sensors')))"/>
  <arg name="json_file_path"      default="$(find pmb3_rgbd_sensors)/config/base_config.json"/> 
  
  <arg name="depth_fps"           default="30"/>
  <arg name="infra_fps"           default="30"/>
  <arg name="color_fps"           default="30"/>

  <arg name="enable_sync"         default="false"/>
  <arg name="enable_depth"         default="true"/>
  <arg name="enable_pointcloud" default="true"/>
  <arg name="enable_color"        default="true"/>
  
  <arg name="infra_width"         default="1280"/>
  <arg name="infra_height"        default="720"/>

  <arg name="depth_width"         default="1280"/>
  <arg name="depth_height"        default="720"/>
  
  <arg name="color_width"         default="1280"/>
  <arg name="color_height"        default="720"/>

  <param name="/base_rgbd_camera/stereo_module/emitter_always_on" value="true"/>
  <param name="/base_rgbd_camera/decimation/filter_magnitude" value="5"/>

  <group ns="$(arg camera_name)">
    <remap from="/base_rgbd_camera/depth/color/points" to="/base_rgbd_camera/depth/points"/>
    <remap from="/base_rgbd_camera/depth/image_rect_raw" to="/base_rgbd_camera/depth/image"/>
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="device_type"           value="$(arg device_type)"/>
      <arg name="serial_no"             value="$(arg device_id)"/>  
      <arg name="tf_prefix"             value="$(arg tf_prefix_camera)"/>
      <arg name="enable_pointcloud"     value="$(arg enable_pointcloud)"/>
      <arg name="initial_reset"         value="$(arg initial_reset)"/>
      <arg name="align_depth"           value="$(arg align_depth)"/>
      <arg name="filters"               value="$(arg filters)"/>
      <arg name="pointcloud_frame_skip" value="$(arg pointcloud_frame_skip)"/>
      <arg name="json_file_path"        value="$(arg json_file_path)"/>
      <arg name="enable_depth"          value="$(arg enable_depth)"/>
      <arg name="infra_width"           value="$(arg infra_width)"/>
      <arg name="infra_height"          value="$(arg infra_height)"/>   
      <arg name="depth_width"           value="$(arg depth_width)"/>
      <arg name="depth_height"          value="$(arg depth_height)"/>   
      <arg name="color_width"           value="$(arg color_width)"/>
      <arg name="color_height"          value="$(arg color_height)"/>   
      <arg name="depth_fps"             value="$(arg depth_fps)"/>
      <arg name="infra_fps"             value="$(arg infra_fps)"/>
      <arg name="color_fps"             value="$(arg color_fps)"/>
      <arg name="enable_sync"           value="$(arg enable_sync)"/>
      <arg name="enable_color"          value="$(arg enable_color)"/>
    </include>
  </group>
  <node name="base_rgbd_camera_filter" pkg="pal_pcl" type="pal_stockbot_floor_filter_node" output="screen">
	  <remap from="cloud1" to="/base_rgbd_camera/depth/points"/>
    <rosparam command="load" file="$(arg calibration_file_path)/config/base_floor_filter_realsense-d435.yaml" />
  </node>

</launch>